<div>
    <div class="row">
        <div class="col-lg-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <h3>Recipe Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle">
                     Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">To Shopping List</a>
                    </li>
                    <li>
                        <a href="">Edit Recipe</a>
                    </li>
                    <li>
                        <a href="">Delete Recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Description
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Ingridients
        </div>
    </div>
</div>