<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-success">
      New Recipe
    </button>
    </div>
</div>
<div class="card mt-3" style="max-width: 540px; ">
    <div class="row" *ngFor="let recipe of recipes">
        <div class="col-md-4">
            <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid rounded-start" style="max-width: 100px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">{{recipe.description}}</p>
            </div>
        </div>
    </div>

</div>